html {
  background-color: #f2f2ae;;
}

body {
  text-align: center;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

.container {
  /* Positioning declarations */
  margin: 0 auto;

  /* Dimensions */
  width: 600px;
  height: 400px;

  background-color: #b5e6b5;;
  border: 3px solid black;
  border-radius: 8px;
}

.settings {
  /*Positioning*/
  display: flex;
  justify-content: space-around;

  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

.settings div {
  /*Dimensions*/
  width: 250px;
}

button {
  background-color: #f9680063;
  font-size: 16px;
  padding: 0 15px;
  border-radius: 6px;
}

button:hover {
  background-color: yellow;
}

#timer {
  margin-top: 50px;
}

/*Number font sizes*/
#clock {
  font-size: 24px;
}

.settings div span {
  font-size: 20px;
}